.contact {
    background-color: var(--white);
    padding: 1rem;
}

.contact__title {
    font-size: 1.125rem;
    color: var(--blue);
    margin-bottom: 1rem;
    font-weight: bold;
}

.contact__text {
    font-size: 1rem;
    color: var(--blue);
    margin-bottom: 1rem;
    font-weight: 400;
}

.contact__email {
    padding: 1rem;
    border: solid 1px var(--blue);
    border-radius: 24px;
    width: 90%;
    color: var(--blue)
}

.contact__email::placeholder {
    font-family: var(--main-font);
    color: var(--blue);
    background: url('../assets/email.svg') no-repeat;
    padding-left: 2em;
}

@media screen and (min-width: 1024px) {
    .contact__container {
        display: flex;
        justify-content: space-between;
        width: 70%;
        max-width: 900px;
        margin: 0 auto;
    }

    .contact__title {
        font-size: 26px;
        margin: 1rem 0;
    }

    .contact__text {
        width: 70%;
        line-height: 24px;
    }

    .contact__email {
        width: 50%;
        max-width: 330px;
        height: fit-content;
    }
}