.header,
.header__left,
.header__right {
    display: flex;
    align-items: center;
}

.header {
    background-color: var(--white);
    justify-content: space-between;
    align-items: center;
    padding: 1.875rem;
    position: relative;
}

.header__left,
.header__right {
    gap: 1.5rem
}

span.header__hamburguer-menu {
    width: 24px;
    height: 24px;
    background-image: url('../assets/menu.svg');
    display: inline-block; /* permite ajustes de largura / altura */
}

.header__menu-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;

    background-color: var(--white);
    border-top: solid 1px var(--bg-color);
}

.header__btn {
    display: none;
}

.header__btn:checked~.header__menu-list {
    display: block;
}

.menu__list-title,
.menu__list-item {
    padding: 1rem;
}

.menu__list-title {
    color: var(--orange);
    font-weight: 700;
}

.menu__item-link {
    color: var(--blue);
    text-transform: uppercase;
    text-decoration: none;
}

.logo__name {
    display: none;
}

.menu,
.icons__text {
    display: none;
}

@media screen and (min-width: 1024px){
    .icon__menu {
        display: none;
    }

    .logo__name {
        display: flex;
        font-size: 1.875rem;
    }

    .logo__name span {
        font-weight: 700;
    }

    .menu {
        width: 50%;
        display: flex;
        justify-content: space-around;
        position: relative;
    }

    .menu__item {
        padding: 1rem;
        background-color: var(--white);
        color: var(--blue);
        transition: all .3s ease-in-out;
        text-transform: uppercase;
    }

    .menu__item:hover {
        background-color: var(--blue);
        color: var(--white);
        cursor: pointer;
    }

    .menu__link {   
        text-decoration: none;
        color: var(--black)
    }

    .menu__categories {
        display: none;
    }

    .menu__categories:checked~.header__menu-list {
        display: block;
        border: solid 1px var(--blue);
        transition: .3s all ease-in-out
    }
}

@media screen and (min-width: 1300px) {
    .icons {
        display: flex;
        align-items: center;
        gap: 1rem;
        text-decoration: none;
    }

    .icons__text {
        color: var(--black)
    }
}