.header,
.header__left,
.header__right {
    display: flex;
    align-items: center;
}

.header {
    background-color: var(--white);
    justify-content: space-between;
    padding: 1.875rem;
    position: relative;
}

.header__left,
.header__right {
    gap: 1.5rem
}

span.header__hamburguer-menu {
    width: 24px;
    height: 24px;
    background-image: url('../assets/menu.svg');
    display: inline-block; /* permite ajustes de largura / altura */
}

.header__menu-list {
    display: none;
    position: absolute;
    top: 100%;

    background-color: var(--white);
    border-top: solid 1px var(--bg-color);
}

.header__btn {
    display: none;
}

.header__btn:checked~.header__menu-list {
    display: block;
}

.menu__list-title,
.menu__list-item {
    padding: 1rem;
}

.menu__list-title {
    color: var(--orange);
    font-weight: bold;
}

.menu__item-link {
    color: var(--blue);
    text-transform: uppercase;
    text-decoration: none;
}