.topics {
    background-color: var(--blue);
    text-align: center;
    padding: 1rem
}

.topics__title {
    font-weight: 400;
    font-size: 1.125rem;
    color: var(--white);
    margin-bottom: 1rem;
}

.topics__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}

.topics__item {
    background-color: var(--orange);
    padding: 1rem;
    border-radius: 8px;
}

.topics__link {
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 400;
    font-size: .875rem;
}

@media screen and (min-width: 1024px) {
    .topics__title {
        font-size: 26px;
        margin: 2rem 0;
    }

    .topics__list {
        justify-content: space-around;
        width: 50%;
        max-width: 800px;
        margin: 0 auto;
    }

    .topics__link {
        font-size: 18px;
    }
}

@media screen and (min-width: 1300px) {
    .topics__list {
        width: 30%;
        max-width: 800px;
        margin-bottom: 2rem;
    }
}